
textarea{
    border-radius: 10px;
    font-family: 'Montserrat';
    border-bottom: 5px solid gray;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vw;
}
input{
    width:100px;
    height: 40px;
    text-align: center;
    border:0px;
    border-radius: 10px;
    font-family: 'Montserrat';
    border-bottom: 5px solid gray;
    margin-bottom: 10px;


}
#calc_value, #currency {
    display: inline-block;
    width: auto;
    margin-right: 10px; /* Dodatkowy margines między elementami */
  }

.footer h4{
    color:white;
    position: relative;
    margin-bottom: 20px;


}
.footer-col h4::before{
    content: '';
    position: absolute;
    background-color:rgb(3, 203, 3);
    width: 50px;
    left:10px;
    height:2px;
    bottom:-10px;
    
}
.calc_font{
    font-size: 16px;
    color: black;

}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s;
  }
  
  .loader-content {
    text-align: center;

  }
  
  .loader-spinner {
    height:50px;
    width:150px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #loader.hidden {
    opacity: 0;
    pointer-events: none;
  }
  

#flexSwitchCheckDefault{
    color:black
}

button{
        height: 30px;
        width: 150px;
        background: rgb(0,154,219);
background: linear-gradient(90deg, rgba(0,154,219,1) 77%, rgba(100,180,4,1) 100%);
    top:0;
    left:0;
    background-repeat: no-repeat;
    background-size: 400% 400%;
    transition: 1s ease-in-out;
        border-radius: 3px;
        font-family: 'Montserrat';
        
}

button:hover{
    background-position:100% 100%;
}

p  {
    font-family: 'Montserrat';
}
h1{
    transition: all 0.6s  ease-in-out;
    margin: bottom 100px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 7vw;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;

}
h1:hover{

    transition: all 0.6s  ease-in-out;
}
h2{
    font-family: 'Montserrat';
}
.hidden {
    color: #009adb;
}

.mini_footer {
    height: 10px;
    margin-top: 0vh;
    background-color: #026e9c;
}
.hidden2{
    opacity:0;
    transition: all 3s;

}
.show{
 opacity:1;

}

.icon {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
.thick_font{
    font-weight: 900;
    font-size: 15pt;
    color:antiquewhite;
}
.thick_font2{
    font-weight: 900;
    font-size: 15pt;
    color:black;
}
.background_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:grayscale(90%);
}
.description{
    color:rgb(192, 188, 188);
    margin-top:20px;
    margin-left:0;
}
.centered_row{
    align-items: center;
}
.fixed_footer{
    position: fixed;
}
#fixed_mini_footer{
    position: fixed;
}
.background_video:hover{
    filter:grayscale(0%);
}
.calc_button{
    margin-top:40px;
    width:200px;
    height:30px;
}

.go_to {
    width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 0ms;
  }
  .font_color{
    color: #009adb;
  }
 .on_video{
    z-index: 1;
 }
 #cool_border{
    display:flex;
    flex-wrap: wrap;
    height:400px;
    border-right: 2px solid whitesmoke;
    z-index: 999;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.2s ease-in-out;
 }
 #cool_border:hover{
    border: 2px solid whitesmoke;
    transition: 0.2s ease-in-out;

 }



#logo {
    transition: all 0.3s ease-in-out;
    align-items: center;
    width:200px;
    height:50px;
    margin-bottom: 50px;

}

#logo:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

#frame {
    display: flex;
    position: relative;
    box-shadow: 0px 8px 20px 2px rgba(61, 58, 58, 0.8);
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 35vw;
    width: 25vw;
    flex-wrap:wrap;
    transition: all 0.3s ease-in-out;
    
}
#frame:hover{
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
}
#fixed_footer{
    position: absolute;
        width:100%;
        left: 0;
    bottom: 0;
        
}
#frame .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.test_button{
    display:flex;
    width:100px;
    text-decoration: none;
    height:100px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 45%, rgba(0,0,0,1) 100%);
    border-radius: 100%;
    border: black 2px solid;
    background-size: 400% 400%;
    transition: 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin: 0 auto;
    
}
.content{
    position: absolute;
    top: 0;
  left: 0;
  text-align: center;
  z-index: 999;
}
.main_page_video{
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
#main_block{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.2s ease-in-out;
    background-color: white;
    color:black;   
    box-shadow: 0px 20px 8px 2px rgba(61, 58, 58, 0.5); 
    border: 1px solid rgb(185, 183, 183);
}
.test_button:hover{
    background-position: 100% 100%;
    transition: 0.5s ease-in-out;
    border: white 2px solid;
}
.test_button:hover #arrow{
    color:white;
    transition: 0.5s ease-in-out;
}
#arrow {
    color:black;
    height:20px;
    width:100px;
    transition: 0.5s ease-in-out;
  }
  #arrow:hover{
    color:white;
  }
 
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 24px;
    z-index: 1;
    transition: all 0.6s  ease-in-out;
    flex-wrap:wrap;
    margin:0;

}

#frame .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 24px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 1);
    transition: all 0.6s  ease-in-out;
    flex-wrap:wrap;
    margin:0;

}
#frame .video-overlay:hover{
    opacity:100%;
    transition: all 0.6s  ease-in-out;
    display: flex;
    flex-wrap:wrap;
}

#video_1:hover, #video_2:hover, #video_3:hover {
    filter: grayscale(0%);
    transition: all 0.6s ease-in-out;
}

#alignment {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#footer_contact {
    margin-top: 10px;
}
#contact_block{

    color:white;
    height:200px;
    text-align: center;
    
}

#hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 24px;
    z-index: 1;
}
#second_footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#nav_bar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#paragraph_navbar{
    margin-right:2vw;
}
#calc_menu{
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 20px 2px rgba(61, 58, 58, 0.8);
    height:300px;
    padding-top:40px;
    border-radius: 5px;
    text-align:center;
    background-color: whitesmoke;
    margin-top: 100px;
}
#calc_result{
    margin-top:20px;
    text-align: center;
    resize: none;
}
#description_block{
    width: 100%;
    height:800px;

    align-items: center;

}
#calc2_block{
    height: 400px;
    background-color: white;
}
#description_block::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1000px;
  width: 100%;
  background-image: url("fabryki.jpg"), linear-gradient(rgba(3, 203, 3, 0.5), rgba(3, 203, 3, 0.5));
  background-blend-mode: overlay;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#description_block2{
    background: rgb(0,154,219);
    background: radial-gradient(circle, rgba(0,154,219,1) 65%, rgba(255,255,255,1) 98%);
    border-radius: 10px;
    border-bottom: 5px solid gray;
    margin-top:20px;

}
#withdrawing{
    text-align: center;
    border-radius: 15px;
}
#carousel_img{
    object-fit:cover;
         height:300px;
  width:350px;
}
#icons{
    font-size: 4vw;
    margin-top: 30px;
}
#sections{
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s ease-in-out;
    background-color: white;
    margin-left:50px;
    color:black;   
    box-shadow: 0px 20px 8px 2px rgba(61, 58, 58, 0.5); 
    border: 1px solid rgb(185, 183, 183);
}
#sections:hover{
    transform: scale(1.05) ;
    transition: 0.2s ease-in-out;
}
#desc_row{
    display: flex;
    margin-bottom: 25px;
    margin-top:50px;
    justify-content: center;
    align-items: center ;

}
#testing{
    width: 300px;
    height: 40px;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-in-out;
    border-radius: 4px;
    border: 1px solid rgb(48, 47, 47)
}
#testing:hover{
    transform: scale(1.05);
    border-color: #009adb;
    background-color: #009adb;
    box-shadow: 0px 4px 10px 1px rgba(61, 58, 58, 0.8); 
    transition: all 0.5s ease-in-out;
}

 #sections.col-md-12:hover{
    transform: none;
}
#header_centered{
    align-items: center;
}
#span{
    font-size: 10vw;
    font-family: cursive;
}
#thick_header{
    font-weight: 900;
    font-size:6vw;
    color:antiquewhite;
}

#description_test{
    height:400px;
    width: 100%;
    position: relative;
}
#description_test::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("fabryki.jpg"), linear-gradient(rgba(0, 154, 219, 0.8), rgba(0, 154, 219, 0.8));
  background-blend-mode: overlay; /* Nakładanie koloru na obrazek */
  z-index: -1;
}
#video_background{
    position: relative;
  width: 100%;
  height: 200vh; /* Wysokość sekcji - możesz dostosować do własnych potrzeb */
  overflow: hidden;
  
}
.test_body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
@keyframes example {
    from {background-color: red}
    to {background-color: yellow;}
  }
  

  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row1{
    display: flex;
    flex-wrap: wrap;
  }
 
  .footer{
    background-color: #009adb;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  
 
  
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

  .thick_font {
    font-size: 15pt;
  }
  
  /* Adjust font size for smaller screens */
  @media (max-width: 768px) {
    .thick_font {
      font-size: 12pt;
    }
  }
  
  @media (max-width: 320px) {
    .thick_font {
      font-size: 16px; /* Adjust this value as needed */
    }
  }
 